<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Movie</title>
    <style>
      li {
        padding: 5px;
      }
      table {
        width: 20%;
        text-align: center;
      }
    </style>
  </head>
  <body>
    
    <ul>
      <li id="name">name: Forrest Gump</li>
      <li id="summary">
        summary: The presidencies of Kennedy and Johnson, the Vietnam War, the
        Watergate scandal and other historical events unfold from the
        perspective of an Alabama man with an IQ of 75, whose only desire is to
        be reunited with his childhood sweetheart.
      </li>
      <li id="releaseDate">releaseDate: 1994-07-06</li>
      <li id="director">director: Robert Zemeckis</li>
      <li id="writers">writers: Eric Roth, Winston Groom</li>
      <li id="genres">genres: Drama, Romance</li>
      <li id="cast">cast: Tom Hanks, Gray sinise</li>
      <li id="imdbRate">imdb Rate: 8.8</li>
      <li id="rating">rating: 9</li>
      <li id="duration">duration: 142 minutes</li>
      <li id="ageLimit">ageLimit: 9</li>
    </ul>

    <label>Your ID:</label>
    <input type="text" name="user_id" value="" />
    <br><br>
    <form action="" method="POST">
      <label>Rate(between 1 and 10):</label>
      <input type="number" id="quantity" name="quantity" min="1" max="10">
      <button type="submit">rate</button>
    </form>
    <br>
    <form action="" method="POST">
      <button type="submit">Add to WatchList</button>
    </form>
    <br />
    <table>
      <tr>
        <th>nickname</th>
        <th>comment</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>@sara</td>
        <td>Nice</td>
        <td>
          <form action="" method="POST">
            <label for="">3</label>
            <input
              id="form_comment_id"
              type="hidden"
              name="comment_id"
              value="03"
            />
            <button type="submit">like</button>
          </form>
        </td>
        <td>
          <form action="" method="POST">
            <label for="">1</label>
            <input
              id="form_comment_id"
              type="hidden"
              name="comment_id"
              value="03"
            />
            <button type="submit">dislike</button>
          </form>
        </td>
      </tr>
      <tr>
        <td>@mehdi</td>
        <td>Good</td>
        <td>
          <form action="" method="POST">
            <label for="">2</label>
            <input
              id="form_comment_id"
              type="hidden"
              name="comment_id"
              value="02"
            />
            <button type="submit">like</button>
          </form>
        </td>
        <td>
          <form action="" method="POST">
            <label for="">2</label>
            <input
              id="form_comment_id"
              type="hidden"
              name="comment_id"
              value="02"
            />
            <button type="submit">dislike</button>
          </form>
        </td>
      </tr>
      <tr>
        <td>@jack</td>
        <td>amazing</td>
        <td>
          <form action="" method="POST">
            <label for="">3</label>
            <input
              id="form_comment_id"
              type="hidden"
              name="comment_id"
              value="01"
            />
            <button type="submit">like</button>
          </form>
        </td>
        <td>
          <form action="" method="POST">
            <label for="">5</label>
            <input
              id="form_comment_id"
              type="hidden"
              name="comment_id"
              value="01"
            />
            <button type="submit">dislike</button>
          </form>
        </td>
      </tr>
    </table>
  </body>
</html>
