<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <style>
        table{
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>name</th>
            <th>summary</th> 
            <th>releaseDate</th>
            <th>director</th>
            <th>writers</th>
            <th>genres</th>
            <th>cast</th>
            <th>imdb Rate</th>
            <th>rating</th>
            <th>duration</th>
            <th>ageLimit</th>
            <th>Links</th>
        </tr>
        <tr>
            <td>Forrest Gump</td>
            <td>The presidencies of Kennedy and Johnson, ...</td> 
            <td>1994-07-06</td>
            <td>Robert Zemeckis</td>
            <td>Eric Roth, Winston Groom</td>
            <td>Drama, Romance</td>
            <td>Tom Hanks, Gray sinise</td>
            <td>8.8</td>
            <td>8</td>
            <td>142</td>
            <td>9</td>
            <td><a href="/movies/01">Link</a></td>
        </tr>
        <tr>
            <td>Inglourious Basterds</td>
            <td>In Nazi-occupied France during World War II, ...</td> 
            <td>2009-08-21</td>
            <td>Quentin Tarantino</td>
            <td>Quentin Tarantino</td>
            <td>Drama, Adventure, War</td>
            <td>Brad Pitt, Eli Roth, Christoph Waltz</td>
            <td>8.3</td>
            <td>8</td>
            <td>153</td>
            <td>13</td>
            <td><a href="/movies/02">Link</a></td>
        </tr>
        <tr>
            <td>Avengers: Endgame</td>
            <td>After the devastating events of Avengers, ...</td> 
            <td>2019-04-26</td>
            <td>Anthony Russo, Joe Russo</td>
            <td>Christopher Markus</td>
            <td>Drama, Action, Adventure</td>
            <td>Robert Downey Jr, Chris Evans, Mark Ruffalo</td>
            <td>8.4</td>
            <td>9</td>
            <td>181</td>
            <td>13</td>
            <td><a href="/movies/03">Link</a></td>
        </tr><tr>
            <td>Shutter Island</td>
            <td>In 1954, a U.S. Marshal investigates , ...</td> 
            <td>1994-07-06</td>
            <td>Martin Scorsese</td>
            <td>Laeta Kalogridis, Dennis Lehane</td>
            <td>Mystery, Thriller</td>
            <td>Dennis Lehane, Dennis Lehane</td>
            <td>8.2</td>
            <td>9</td>
            <td>138</td>
            <td>18</td>
            <td><a href="/movies/04">Link</a></td>
        </tr><tr>
            <td>Once Upon a Time... In Hollywood</td>
            <td>A faded television actor and his stunt, ...</td> 
            <td>2019-05-21</td>
            <td>Quentin Tarantino</td>
            <td>Quentin Tarantino</td>
            <td>Drama, Comedy</td>
            <td>Brad Pitt, Margot Robbie</td>
            <td>7.6</td>
            <td>8</td>
            <td>161</td>
            <td>13</td>
            <td><a href="/movies/05">Link</a></td>
        </tr><tr>
            <td>Saving Private Ryan</td>
            <td>The presidencies of Kennedy and Johnson, ...</td> 
            <td>1998-07-21</td>
            <td>Steven Spielberg</td>
            <td>Robert Rodat</td>
            <td>Drama, War</td>
            <td>Matt Damon, Tom Sizemore</td>
            <td>8.6</td>
            <td>9</td>
            <td>169</td>
            <td>9</td>
            <td><a href="/movies/06">Link</a></td>
        </tr>
    </table>
</body>
</html>